#fresh-news{
    background-position: center !important;
    background-size: cover !important;
    padding: 0 15px 20px;
    @media screen and (min-width: 640px){
        padding: 0 40px 30px;
    }
    @media screen and (min-width: 992px){
        padding: 0 40px 40px;
    }
    @media screen and (min-width: 1100px){ 
        padding: 0 40px 60px;
    }
    .back-link{
        margin-top: 73px;
        padding-left: 0;
        @media screen and (min-width: 640px){
            margin-top: 78px;
        }
        @media screen and (min-width: 992px){
            margin-top: 83px;
        }
        @media screen and (min-width: 1100px){
            margin-top: 100px;
        }
    }
    .news-item{
        @media screen and (min-width: 640px){
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-between;
            align-items: center;
        }
        @media screen and (min-width: 992px){
            align-items: start;
        }
        @media screen and (min-width: 1100px){ 
        }
        p{
            font-size: 16px;
            @media screen and (min-width: 640px){
                flex: 0 0 100%;
                font-size: 18px;
            }
            @media screen and (min-width: 992px){
                margin-bottom: 20px;
                font-size: 22px;
            }
            @media screen and (min-width: 1100px){ 
                margin-bottom: 25px;
                font-size: 26px;
            }
        }
        .news-img{
            position: relative;
            text-align: center;
            width: 100%;
            max-width: 350px;
            margin: 10px auto;
            @media screen and (min-width: 640px){
                margin: unset;
                flex: 0 0 35%;
            }
            @media screen and (min-width: 992px){
                
            }
            @media screen and (min-width: 1100px){ 
                flex: 0 0 43%;
                max-width: 430px;
            }
            img{
                width: 100%;
                
            }
            a{
                position: absolute;
                bottom: 0;
                right: 0;
                display: block;
                padding: 5px 10px;
                background: #005CA8;
                text-transform: uppercase;
                color: #fff;
                font-size: 10px;
                transition: .3s ease-in-out;
                font-weight: 400;
                @media screen and (min-width: 992px){
                    font-size: 12px;
                    padding: 13px 30px;
                }
                &:hover{
                    background: #fff;
                    color: #005CA8;
                    transition: .3s ease-in-out;
                }
            }
        }
        .news-text{
            @media screen and (min-width: 640px){
                flex: 0 0 60%;
            }
            @media screen and (min-width: 992px){
                
            }
            @media screen and (min-width: 1100px){ 
                flex: 0 0 53%;
            }
            h1{
                font-size: 30px;
                font-weight: 400;
                @media screen and (min-width: 640px){
                    font-size: 35px;
                }
                @media screen and (min-width: 992px){
                    font-size: 40px;
                    line-height: 50px;
                }
                @media screen and (min-width: 1100px){
                    font-size: 45px;
                    line-height: 55px;
                }
            }
            .news-breadcrumps{
                font-size: 12px;
                font-weight: 400;
                margin-bottom: 10px;
                color: #707070;
                @media screen and (min-width: 640px){
                    font-size: 16px;
                    margin-bottom: 15px;
                }
                @media screen and (min-width: 992px){
                    font-size: 17.5px;
                    margin-bottom: 20px;
                }
            }
            span{
                display: block;
                font-size: 12px;
                margin-bottom: 5px;
                color: #4A4A4A;
                @media screen and (min-width: 640px){
                    margin-bottom: 10px;
                }
                @media screen and (min-width: 992px){
                    margin-bottom: 15px;
                }
                b{
                    font-weight: 500;
                    margin-bottom: 10px;
                    padding-right: 13px;
                }
            }
            .news-paragraph{
                font-size: 12px;
                margin-bottom: 10px;
                @media screen and (min-width: 640px){
                    margin-bottom: 15px;
                    
                }
                @media screen and (min-width: 992px){
                    margin-bottom: 20px;
                    font-size: 14px;
                }
                @media screen and (min-width: 1100px){
                    margin-bottom: 25px;
                }
            }
            a{
                text-transform: uppercase;
                font-weight: 700;
                font-size: 12px;
                color: #707070;
                transition: .3s ease-in-out;
                &:hover{
                    color: #005CA8;
                    transition: .3s ease-in-out;
                }
            }
        }
    }
}